@import './tailwand';
@import './ag-grid.scss';

@media print {
  @page {
    margin: 10px 10px 0 20px;
  }
}
.active-class {
  color: rgb(37, 99, 235);
  i {
    color: rgb(37, 99, 235);
  }
}
.navbar-icon {
  font-size: 22px;
}
.el-badge__content.is-fixed {
  top: 5px;
  right: 20px;
}
.el-card__header {
  padding: 4px 8px;
}
.el-card__body {
  padding: 8px 15px;
}
.el-table {
  td {
    padding: 2px 0;
  }
  td .cell {
    font-size: 16px !important;
  }
}
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
}
.el-collapse-item__header {
  padding: 5px 10px;
  color: white;
  background: #374151;
}
.el-collapse-item__content {
  padding-bottom: 0px;
}
.el-table__expanded-cell {
  padding: 10px 50px;
  font-size: 16px;
}
.el-table .task-row {
  background-color: #fef0f0;
}
.el-table .done-row {
  background-color: #ecf5ff;
}
.el-table .returned-row {
  background-color: #f4f4f5;
}
.el-table .finished-row {
  background-color: #f0f9eb;
}

.overflow-text {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // This is where the magic happens
}

.el-drawer__body {
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  width: 6px;
  border-radius: 4px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.el-divider__text {
  background-color: #f3f4f6;
}
